/* Global Styles */
body {
    font-family: 'Georgia', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #142d4c;
    color: #333;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

header {
    background-color: #142d4c;
    color: #fff;
    padding: 0.1rem;
    font-size: 15px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 10px;
}

nav ul li {
    display: inline;
    background-color: #142d4c;
    padding: 10px;
    border-radius: 30px;
    margin: 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a.active {
    font-weight: bold;
    border-bottom: 2px solid #fff;
    margin-left: 90%;
}

main {
    max-width: 900px;
    margin: 2rem auto;
    text-align: center; /* Center content including the button */
}

#Title {
    color: #fff;
    text-align: center;
    font-family: 'Georgia', serif;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#intro {
    color: #fff;
    text-align: center;
}

footer {
    background-color: #142d4c;
    color: white;
    text-align: center;
    padding: 7px;
    font-size: 14px;
    margin-top: 22.5%;
}

/* Button Styles */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.cta-button {
    background-color: #142d4c;
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.cta-button:hover {
    background-color: #bbe4e9;
    transform: scale(1.05);
}
